 
    <tr class="brains" id="brain_<%= brain.id %>">
      <td><%= time_ago_in_words(brain.created_at) %></td>
      <td><%= brain.flavor %></td>
      <td><%= brain.iq %></td>
      <td><%= brain.fresh %></td>
	</tr>
	 

