<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
<ul class="dropdown menu" data-dropdown-menu>
  <li>
    <a href="#">Zombies</a>
    <ul class="menu">
      <li><a href="#">Index Zombies</a></li>
      <li><a href="#">Agregar Zombies</a></li>
      <!-- ... -->
    </ul>
  </li>
</ul>
    <%= yield %>

  </body>
</html>
